In [1]:
id<-c(101,102,103)
name<-c('Bob','Alice','John')
marks<-c(78.25,59.45,63.85)
students<-data.frame(id,name,marks)

In [2]:
students

  id  name  marks
1 101 Bob   78.25
2 102 Alice 59.45
3 103 John  63.85

In [3]:
slist<-list(id,name,marks)

In [4]:
slist

[[1]]
[1] 101 102 103

[[2]]
[1] "Bob"   "Alice" "John"

[[3]]
[1] 78.25 59.45 63.85